name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag version to release (e.g., 1.0.0)'
        required: true
        type: string

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Create and push tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag ${{ github.event.inputs.tag }}
          git push origin ${{ github.event.inputs.tag }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Homebrew Formula
        env:
          GH_TOKEN:  ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download --repo softleader/homebrew-tap --pattern "brew-tapper-linux-amd64.tar.gz" --output tapper.tar.gz
          tar -xvf tapper.tar.gz
          chmod +x tapper
          ./tapper --owner softleader \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --formula slctl \
            --version ${{ github.event.inputs.tag }} \
            --dist ./dist
